<h3>Index</h3>

<button class="refresh">Refresh</button>

<table>
  <thead>
    <tr>
      <th data-col="id">id</th>
      <th data-col="title">title</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<a href="#/todos/new">New Todo</a>
