<h3><%= todo.get("title") %></h3>

<ul>
  <% todo.comments().each(function (comment) { %>
    <li><%= marked(comment.escape("content")) %></li>
  <% }) %>
</ul>

<div class="comment-new"></div>

<a href="#/">Back to Index</a>